@import url('https://fonts.googleapis.com/css?family=Francois+One|Satisfy');



.newsletter{
	left: 20%;
}


.footerline{
   font-family: 'Francois One', sans-serif;

}

.footerquote{
   font-family: 'Satisfy', cursive;

}